body {
  background-color: gray;
}
.social-media {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
